{% extends 'base.html.twig' %}

{% block title %}Edytuj dane pogodowe{% endblock %}

{% block body %}
    <h1 class="mt-4">Edytuj dane pogodowe</h1>

    {{ include('weatherdata/_form.html.twig', {'button_label': 'Aktualizuj'}) }}

    <a href="{{ path('app_weatherdata_index') }}" class="btn btn-secondary mt-2">Powrót do listy</a>

    {{ include('weatherdata/_delete_form.html.twig') }}
{% endblock %}
